<h4>{{user.name}} Check-Out</h4>






<a href="/users/{{user._id}}">
{{!-- <form action="/course/{{course._id}}/{{course.activePlayers}}" method="POST"> --}}
    <input class="form" type="submit" value="End" />
{{!-- </form> --}}
</a>


<a href="/">
        <button>Home</button>
    </a>