<h4>{{user.name}} Check-Out</h4>

<form action="/courses/users/{{user._id}}/{{singleCourse._id}}/checkOut?_method=PUT" method="POST">
    <input type="hidden" name="activePlayer" value="{{user._id}}" />
        <input class="form" type="submit" value="End" />
   
</form>


<a href="/">
        <button>Home</button>
    </a>