<h4>{{user.name}} Check-In</h4>

<p>
    Course Name: <input class="form" type="text" name="name" required="required" placeholder="Name" value="{{course.name}}"/>
</p>

<form action="/course/{{course._id}}/{{course.activePlayers}}" method="POST">
<input class="form" type="submit" value="Start"/>
</form>

<a href="/">
        <button>Home</button>
    </a>
