

<a href="/users/new">
    <button>
    New User
    </button>
</a>
<a href="/users/">
    <button>
    Returning User
    </button>
</a>
<a href="/courses/new">
    <button>
    Add Course
    </button>
</a>
<a href="/courses/">
    <button>
    Course Finder
    </button>
</a>