
<div id="start">
<a href="/users/new">
    <button class="start">
    New User
    </button>
</a>
<a href="/users/">
    <button class="start">
    Returning User
    </button>
</a>
<a href="/courses/new">
    <button class="start">
    Add Course
    </button>
</a>
<a href="/courses/">
    <button class="start">
    Course Finder
    </button>
</a>
</div>