<h2>
    List of Discs
</h2>

<a href="/discs/new">
    <button>
        Add New Disc
    </button>
</a>
<ol>
    {{#each discs}}
    <a href="/discs/{{_id}}">
        <li>{{name}}</li>
    </a>
    {{/each}}
</ol>

<a href="/users">
    <button>
        Go To Players
    </button>
</a>
<a href="/">
    <button>Home</button>
</a>