<h2>Create New Disc</h2>

<form action="/discs" method="POST">
    <input class="form" type="text" name="name" placeholder="Name"/>
    <input class="form" type="text" name="flightNumbers" placeholder="Flight Numbers"/>
    <input class="form" type="text" name="firstPlayed" placeholder="First Played"/>

    
    <input class="form" type="submit" value="Create"/>
</form>