html {
    background-color: rgb(36, 36, 36);
    color: rgb(218, 218, 218);
    text-align: center;
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
}

h1 {
    text-decoration: underline;
    text-transform: capitalize;
}

a {
    list-style-type: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    text-decoration: none;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
}

.form {
    font-size: 25px;
    border-radius: 10px;
}

button {
    font-size: 25px;
    border-radius: 10px;
}

ol {
    padding: 0 4px 0 0;
}

li {
    font-size: 35px;
    color: yellow;
}