<h2>Create New User</h2>

<form action="/users" method="POST">
    <input class="form" type="text" name="name" placeholder="Name"/>
    <input class="form" type="text" name="photo" placeholder="Photo"/>
    <input class="form" type="text" name="location" placeholder="Location"/>
    <select class="form" name="ablility" placeholder="Ability"/>
    <option value="Beginner">Beginner</option>
    <option value="Amatuer">Amatuer</option>
    <option value="Pro">Pro</option>
    </select>
    
    <input class="form" type="submit" value="Create"/>
</form>
<a href="/start/">
        <button>Home</button>
    </a>