<h2>Create New User</h2>

<form action="/users" method="POST">
    <input class="form" type="text" name="name" required="required" placeholder="Name"/>
    <input class="form" type="text" name="photo" placeholder="Photo"/>
    <input class="form" type="text" name="location" placeholder="Location"/>
    <input class="form" name="ability" required="required" list="ability-options" placeholder="Ability" />
   <datalist id="ability-options">
       <option value="Beginner">
       <option value="Amateur">
       <option value="Pro">
   </datalist>
    
    <input class="form" type="submit" value="Create"/>
</form>
<a href="/">
        <button>Home</button>
    </a>