<h1>
    Player List
</h1>

<ol>
    {{#each users}}
    <a href="/users/{{_id}}">
        <li>{{name}}</li>
    </a>
    {{/each}}
</ol>
<a href="/users/new">
    <button>
        Add New Player
    </button>
</a>
<footer>
    <div class="spacer">
        <p> </p>
    </div>
    <a href="/courses">
        <button>
            Go To Courses
        </button>
        <a href="/">
            <button>Home</button>
        </a>
</footer>