<h1>
    Players
</h1>

<a href="/users/new">
    <button>
    Add New Player
    </button>
</a>
<ol>
{{#each users}}
    <a href="/users/{{_id}}">
        <li>{{name}}</li>
    </a>
{{/each}}
</ol>

<a href="/courses">
    <button>
    Go To Courses
    </button>
    <a href="/">
        <button>Home</button>
    </a>