<form method="POST" action="/<TODO: models url here (e.g: /accounts)>">

  <!--
    Template for creating input form for a string object key called stringMember
    NOTE: for numeric input fields use `type="number"`
  --->
  <input type="text" value="{{<TODO: model.stringMember (e.g: account.name)}}" placeholder="name" name="<TODO: stringMember (e.g: name)>" />

  <input type="checkbox" name="<TODO: model.booleanMember (e.g: account.isActive)" value="true" />

  <input type="submit" value="Create Shop" />
</form>
