<form method="POST" action="<TODO: models url here (e.g: /accounts)>?_method=PUT">

  <!--
    Template for creating input form for a string object key called stringMember
    NOTE: for numeric input fields use `type="number"`
  -->
  <input type="text" value="{{<TODO: model.stringMember>}}" name="<TODO: stringMember (e.g: name)>" />

  <!--
    Template for creating input form for a boolean object member
  -->
  <input type="checkbox" name="<TODO: booleanMember (e.g: isActive)>" value="true" {{#if <TODO: model.booleanMember (e.g: account.isActive)}}checked{{/if}} />

  <input type="submit" value="Update Shop" />
</form>
